* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: flow 15s ease infinite;
}

@keyframes flow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f8f9fa !important;
    font-family: "Montserrat", sans-serif , Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}