*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body{
    background-color: #efefef;
}

h4{
    font-size: 18px;
    padding: 15px;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 80vw;
}

button,
form input{
    outline: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 0;
    width: 25vw;
    max-width: 335px;
    min-width: 200px;
    padding: 10px;
    border-radius: 5px;
}

input:focus{
    border: 1px solid #1890ff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

button{
    font-size: 15px;
    color: #FFFFFF;
    background-color: #419cf1;
}

button:hover{
    cursor: pointer;
    background: #0285ff;
    border-color: #0285ff;
    color: #FFFFFF;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    font-size: 64px;
    color: rgb(228, 228, 228);
    padding: 15px;
}